.arrowleft {
    justify-self: flex-start;
    display: flex;
    margin: 10px;
    grid-row-start: 2;
}

.arrowright {
    justify-self: flex-end;
    display: flex;
    margin: 10px;
    grid-row-start: 2;
}

.circle {
    display: block;
    align-self: center;
    line-height: 15px;
    font-size: 30px;
    width: 48px;
    height: 48px;
    background-color: white;
    border-radius: 50%;
    border: none;
}