.favoritebutton {
    justify-self: flex-end;
    display: flex;
    margin: 5px;
    grid-row-start: 1;
    grid-column-start: 2;
  }
  
.heart {
  background-color: white;
  display: block;
  align-self: center;
  line-height: 12px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.favorited {
  fill: #C13C27;
}


