.container {
  display: grid;
  width: 100%;
  justify-items: center;
  margin: 0% 5%;
}

.carousel {
  display: grid;
  grid-template-rows: minmax(240px, 480px) 85px 85px;
  justify-items: center;
}

