.mainimage {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  grid-template-columns: 1fr 1fr;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  max-height: 100%;
}